@import "tailwindcss";

@layer base {
  body {
    background-color: #090a0f;
    color: #f8fafc;
    font-family: Inter, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #11131a;
}
::-webkit-scrollbar-thumb {
  background: #232736;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #343a4e;
}
